nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-top: 20px;
  font-family: 'Bangers', cursive;
}

nav ul {
  padding-left: 0;
}

nav ul li a img {
  vertical-align: middle;
  margin-right: 10px;
}

li {
  list-style-type: none;
  font-size: 30px;
}

li h1 {
  font-weight: 500;
}

li h1,
p {
  color: white;
}

li span {
  color: rgb(237, 79, 85) !important;
}

li p {
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 30px;
  color: rgb(169, 169, 169);
}

li.discord a {
  color: rgb(140, 163, 253);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navLogo img {
  height: 30px;
  width: auto;
  z-index: 9999;
  padding-left: 10px;
}

header {
  width: 100%;
  height: 50px;
  margin: auto;
  order: solid 1px #EEE;
}

.navigation {
  width: 100%;
  text-align: center;
}

.navigation a {
  display: block;
  padding: 15px 0;
  transition-duration: .5s;
}

.navigation a:hover {
  color: brown;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}


.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgb(0, 0, 0);
  left: -100vw;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  top: 0;
}

.menu-icon {
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
  padding-right: 20px;
}

.fa-bars {
  font-size: 30px;
  color: rgb(255, 255, 255)
}


#menuToggle {
  display: none;
  z-index: 4;
}

#menuToggle:checked~.menu {
  position: absolute;
  left: 0;
  z-index: -1;
}